/* base styles (things that won't change) */
:root {
    --c1: #F9F9FE;
    --c2: #FFFFFF;
    --c3: #007C4B;
    --c4: #18C17D;
    --c5: #15AC6F;
    --c6: #707070e3;
    --c7: #129461;
    --c8: #15AC6F;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: var(--c1);
}


.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}


/* base styling end  */


/* styling */
.main {
    grid-template-rows: repeat(8, 1fr);
    width: 90%;
    min-height: 327px;
    background: var(--c2);
    height: 81vh;
    margin: 41px auto 40px;
    box-shadow: 0 0 30px 1px rgba(139, 26, 26, 0.10);
}
