/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mada:wght@200;300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@font-face {
  font-family: airbnb cereal;
  src: url('airbnb-cereal/AirbnbCerealLight.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: airbnb cereal;
  src: url('airbnb-cereal/AirbnbCerealbook.ttf');
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: airbnb cereal;
  src: url('airbnb-cereal/AirbnbCerealMedium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: airbnb cereal;
  src: url('airbnb-cereal/AirbnbCerealBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: airbnb cereal5;
  src: url('airbnb-cereal/AirbnbCerealExtraBold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: airbnb cereal;
  src: url('airbnb-cereal/AirbnbCerealBlack.ttf');
  font-style: normal;
  font-weight: 800;
}

