

/* Navigation bar mobile */
nav.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 322px;
    /* width: 86vw; */
    margin: 7% auto 10% auto;
}

.nav-bar #home {
    height: 34px;
    margin-top: 3px;
}

/* hidden in mobile view */
.nav-menu {
    display: none;
}

#signin {
    display: none;
}

/* END hidden */

.right-nav {
    display: flex;
    min-width: 132px;
    justify-content: space-between;
}

.nav-bar #signup {
    color: var(--c2);
    background: var(--c4);
    height: 33px;
    width: 92px;
    /*change this in bigger screens*/
    font-family: mada;
    font-size: 14px;
    border-radius: 11px;
    padding: 8px 24px;
    margin-top: 1%;
}


/* hamburger menu */
.menu-btn {
    max-height: 20px;
    max-width: 30px;
    /* margin-left: 2px; */
    margin-top: 9px;
}

.menu-btn .line {
    height: 2.8px;
    width: 30px;
    background-color: #212121;
    border-radius: 50px;
}

.menu-btn .line#two {
    margin: 5.7px 0;
}

#three {
    width: 15px;
}

/* END */

/* section 1 */
section.section-1 {
    display: grid;
    background: var(--c2);
    max-width: 86%;
    height: 81vh;
    margin: 0 auto 40px;
    box-shadow: 0 0 30px 1px rgba(139, 26, 26, 0.10);
}

/* home image */
section.section-1 img {
    height: auto;
    width: 100%;
}

/* Home text */

section.section-1 .text h1 {
    color: var(--c8);
    font-family: airbnb cereal;
    font-size: 25px;
    font-weight: 600;
    align-self: center;
    text-align: center;
}

section.section-1 .text h1:nth-child(2) {
    font-size: 1.5625em;
}

section.section-1 .text p {
    font-size: 13px;
    font-family: mada;
    width: 235px;
    /* max-width: 300px; */
    text-align: center;
    color: var(--c6);
    margin: 5px auto 10px auto;

}

section.section-1 button.get-started {
    height: 46px;
    width: 155px;
    border: 2px solid rgba(0, 124, 74, 0.8);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 124, 74, 0.8);
    background: #fff;
    border-radius: 24px;
    margin: auto auto auto auto;
}



/* END */

/* section 2 */
.section-2 .image img {
    display: none;
}

section.section-2 {
    margin: 100px auto;
    display: grid;
    max-width: 278px;
    place-items: center;
}

section.section-2 .text h1 {
    font-family: roboto;
    font-size: 27px;
    font-weight: 700;
    color: var(--c5);
    width: 234px;
    margin: 0 auto;
    text-align: center;
}

section.section-2 .text p {
    font-family: mada;
    font-size: 14px;
    font-weight: 500;
    color: var(--c6);
    text-align: center;
    width: 278px;
}

/* section 2 END */

/* section 3 */


section.section-3 {
    background: var(--c2);
    max-width: 86%;
    min-height: 110vh;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
    margin: 0 auto 40px;
    display: grid;
    grid-template-rows: repeat(4, minmax(auto, 144px));
    grid-gap: 20px;


}

/* header */
section.section-3 .header {
    color: var(--c5);
    font-size: 27px;
    font-family: roboto;
    font-weight: 700;
    text-transform: uppercase;
    place-self: center;
    margin-top: 38px;
    margin-bottom: 27px;
}


section.section-3 .service {
    width: 297px;
    max-height: 144px;
    place-self: center;
}

section.section-3 .service p {
    font-family: mada;
    font-weight: 600;
    color: var(--c6);
    font-size: 14px;
    line-height: 18px;
    /* letter-spacing: .7px; */
    margin-top: 25px;
}

section.section-3 .service p span {
    color: var(--c4);
}

section.section-3 .service-name {
    background: transparent;
    width: 295px;
    height: 48px;
    border: 1px solid var(--c3);
    font-family: mada;
    font-size: 15px;
    font-weight: 600;
    color: var(--c3);
    margin: 0 auto;
}

/* section 3 END */

/* section 4 */
section.section-4 {
    display: block;
    height: auto;
    margin: 130px auto 0;
    width: 322px;
    /* background: url(/images/Path704.png); */
    /* background-size: 100%; */
}

.section-4 h1.header {
    font-family: roboto;
    font-size: 27px;
    /* letter-spacing: 2.7px; */
    line-height: 33px;
    margin: 0 auto 70px;
    max-width: 286px;
    text-align: center;
    font-weight: 700;
    color: var(--c5);
}

.section-4 .steps {
    grid-row-gap: 60px;
    margin-bottom: 100px;
}

.section-4 .steps div {
    grid-column: 1/9;
    place-self: center;
    /* height: 100%;
    width: 100%; */
}


.section-4 .steps img {
    height: 126px;
    width: 126px;
    display: flex;
    margin: 0 auto 25px;
}

.section-4 .steps .green {
    color: var(--c7);
}

.section-4 .steps p {
    color: var(--c6);
    font-family: mada;
    text-align: center;
}

/* SECTION-4 END */

/* section-5 */
.section-5 {
    width: 100%;
    background-color: var(--c2);
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
    height: 167px;
    display: flex;
}

.section-5 .text {
    place-self: center;
    width: 296px;
    margin: 0 auto;
    /* margin: auto auto; */
}

.section-5 .text h1 {
    font-size: 27px;
    font-weight: 700;
    font-family: roboto;
    color: var(--c4);
    text-transform: uppercase;
    text-align: center;
}

.section-5 .text p {
    font-family: mada;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    color: var(--c6);
}

/* section-5 END */

/* section-6 */
.section-6 {
    width: 90%;
    display: flex;
    place-content: center;
    height: 160px;
    margin: 80px auto 0;
}

.section-6 h1 {
    margin: auto 0;
    /* width: 256px; */
    font-size: 27px;
    font-family: mada;
    text-align: center;
    color: var(--c6);
    font-weight: normal;
}

.section-6 .faq {
    /* display: flex; */
    /* flex-grow: 1; */
    font-size: 33px;
    letter-spacing: 1.1px;
    color: var(--c4);
    font-family: airbnb cereal;
    font-weight: 600;
    width: 94px;
    border-bottom: 1.15px solid #18C17D;
    box-shadow: -4px -3px 0px 0px #f9f9fe, 0px -4px 0px 0px #f9f9fe, -5px 5px 12px 0px #f9f9fe87, 13px 1px 12px 0px #f9f9fe, 5px 7px 11px 0px rgb(0 0 0 / 7%);
}

/* section-6 END */



/* @media screen and (min-width:370px) {
    section{

    }
} */
/* END of base styling */






/* larger screens */
@media screen and (min-width:370px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width:370px) {
    body {
        font-size: 18px;
    }
}

/* small tablets styles */
@media screen and (min-width:620px) {
    #desktop {
        display: ;
    }
}

/* large tablets and laptop styles */
@media screen and (min-width:660px) {}

/* desktop styles */
@media screen and (min-width:1200px) {}