
@media screen and (min-width:760px) {
    
}

@media screen and (max-width:768px){

        /* navigation bar */
        .parent-container nav{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 10%;
            height: 34px;
            max-width: 90%;
        }
        
        .right-of-nav-bar{
            display: flex;
            margin: auto 0;
            /* justify-items: center;
            align-items: center; */
        }
        .signup{
            font-family: mada;
            font-size: 14px;
            display: grid;
            place-items: center;
            font-weight: normal;
            border: 1px solid #262626;
            border-radius: 50px;
            width: 76.38px;
            height: 28.7px;
            margin-right: 12.9px;
            padding: auto;
        }
        /* .menu-icon{
            margin: auto 0;
        } */
        .right-of-nav-bar svg{
            margin-top  : 6.5px;
        }
}