
.nav-bar #home {
    height: 34px;
}


nav.nav-bar {
    display: flex;
    width: 100%;
    padding: 5% 2% 0;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 30px;
}

/* till tablet */
@media screen and (max-width:1024px) {
    
    /* hidden in mobile view */
    .nav-menu {
        display: none;
    }
    
    #signin {
        display: none;
    }
}

/* END hidden */

/* right of nav bar */
.right-nav {
    display: flex;
    min-width: 132px;
    justify-content: space-between;
}

/* account button */
nav .account{
    color: var(--c6);
    font-family: mada;
    font-weight: 500;
    font-size:15px;
    line-height: 15px;
    height: 36px;
    width: 98px;
    border: 1px solid var(--c6);
    border-radius: 14px;
    margin:auto 14px auto 0 ;
    display: flex;
    place-content: center;
    opacity: .6;
    user-select: none;
}

nav .account .txt, nav .account svg{
    max-height: 17px;
    min-height: 13px;
    margin: auto 0;
}

nav .account .txt{
    margin-left: 5px;
}

/* sign up */
.nav-bar #signup {
    color: var(--c2);
    background: var(--c4);
    height: 33px;
    width: 92px;
    /*change this in bigger screens*/
    font-family: mada;
    font-size: 14px;
    border-radius: 11px;
    padding: 8px 24px;
    margin-top: 1%;
}


/* hamburger menu */

.menu-btn {
    height: 30px;
    width: 30px;
    margin-top: 9px;

}

.line {
    background-color: #212121;
    height: 2.8px;
    width: 30px;
    border-radius: 2px;
}

#two {
    margin: 5.7px auto;
}

#three {
    width: 15px;
}

/* larger screens */
/* @media screen and (min-width:370px) {
    nav.nav-bar {
        padding: 4% 2% 0;
        margin-bottom: 55px;
    }
    
    nav.nav-bar {
        padding: 9% 7% 0;
    }
    
} */

@media screen and (min-width:1024px) {
    
    /* laptop nav bar */
    .nav-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self:center ;
        width: 345px;
        height: 22px;
        margin-left: 90px;
    }
    
    .nav-menu li a, .dropbtn {
        color: var(--c6);
        text-align: center;
        font-family: mada;
        font-size: 16px;
        text-transform: capitalize;
        /* padding: 14px 16px; */
        text-decoration: none;
    }
    
    .nav-menu li a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    }
    
    .nav-menu li{
        height: 19px;
    }

    .nav-menu li .dropdown {
        display: flex;
        flex-direction: column;
    }
    
    .nav-menu li .dropdown a{
        text-align: left;
        padding: 1rem .7rem;
    }
    
    
    .nav-menu li .dropdown{
        margin-top: 10px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    
    .nav-menu .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    
    .nav-menu .dropdown:hover .dropdown-content {
        display: flex;
    }
    
    nav .right-nav #signin{
        font-size: 20px;
        font-family: mada;
        color: var(--c6);
        height: 25px;
        place-self: center;

    }

    .right-nav {
        display: flex;
        width: 164px;
        justify-content: space-between;
    }

    .menu-btn{
        display: none;
    }
}

/* small tablets styles */
@media screen and (min-width:620px) {
    nav.nav-bar {
        padding: 3% 7% 0;
    }
}

/* large tablets and laptop styles */
@media screen and (min-width:660px) {}

/* desktop styles */
@media screen and (min-width:1200px) {}