/* navigation bar for sign up and login menu */

.nav-bar {
    display: flex;
    width: 100%;
    padding: 9% 5% 0;
    /* height: 34px; */
    justify-content: space-between;
    align-content: center;
}

.back-btn {
    height: 20px;
    width: 20px;
    margin: auto 0;
}

.menu-btn {
    height: 30px;
    width: 30px;
    margin-top: 9px;

}

.line {
    background-color: #212121;
    height: 2.8px;
    width: 30px;
    border-radius: 2px;
}

#two {
    margin: 5.7px auto;
}

#three {
    width: 15px;
}

/* end of navigation */

@media screen and (min-width:620px) {
    .nav-bar {
        display: flex;
        width: 100%;
        padding: 5% 5% 0;
        /* height: 34px; */
        justify-content: space-between;
        align-content: center;
    }
    
}


@media screen and (min-width:1024px) {

.nav-bar {
    padding: 2% 5% 0;
}

}